//COLORS
//main
$color-primary: rgba(#fffbf0, 1);
$color-secondary: rgba(#f1a0d2, 0.5);
$color-backgroung: #9fa8d1;

//text
$color-text-1: #5a5656;
$color-text-2: black;

//helpers
$color-white: #fff;
$color-grey: #797b7e;
$color-black: #000;
