@import "../style/abstracts/mixins";
@import "../style/abstracts/variables";

.slide-show {
  @include absCenter;
  width: 80%;

  .image-container {
    height: 60vh;
  }

  img {
    @include absCenter;
    max-height: 100%;
    object-fit: cover;
    opacity: 0.8;
    min-height: 100%;
    min-width: 100%;
  }
  &__text {
    @include absCenter;
    text-decoration: none;
    color: $color-text-2;
    font-size: 4rem;
    font-weight: 200;
    z-index: 100;

    &:hover {
      color: $color-text-2;
      transform: translateY(-2px) translate(-50%, -50%);
    }
  }
}

.home-content {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 120%;
  left: 50%;
  margin-bottom: 20rem;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
}
